<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> Cadastro de Pessoa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="./../css/bootstrap.min.css" rel="stylesheet">
    <link href="./../style/style.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="titulo">Pessoa</h1> 

        <form>
			<div class="form-group">
				<label for="InputNome">Nome da Pessoa</label>
				<input type="text" class="form-control" id="InputNome" placeholder="Nome" maxlength = 30>
			</div>
            <div class="form-group">
				<label for="InputBairro">Bairro</label>
				<input type="text" class="form-control" id="InputBairro" placeholder="Bairro">
			</div>
            <div class="form-group">
				<label for="InputCEP">CEP</label>
				<input type="text" class="form-control" id="InputCEP" placeholder="CEP">
			</div>
            <div class="form-group">
				<label for="InputCidade">Cidade</label>
				<input type="text" class="form-control" id="InputCidade" placeholder="Cidade">
			</div>
            <div class="form-group">
				<label for="InputEstado">Estado</label>
				<input type="text" class="form-control" id="InputEstado" placeholder="Estado">
			</div>
        </form>
    </body>
</html>
